/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .postblock-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}
.postblock-wrapper img {
    width: 100%;
}
