.postblock-wrapper {
    width: 100%;
}
.postblock-wrapper .col-md-2 {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: inline-block;
    float: left;
}
.postblock-wrapper .col-md-3 {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    display: inline-block;
    float: left;
}
.postblock-wrapper .col-md-4 {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    display: inline-block;
    float: left;
}
.postblock-wrapper h2 {
    font-size: 14px !important;
    font-weight: 400 !important;
}